services:
  discord-bot:
    build: .
    container_name: alfred_js_bot
    restart: always
    working_dir: /app
    
    # 1. Environment Variables (Empty here, filled in Portainer)
    environment:
      - DISCORD_TOKEN
      - CLIENT_ID
      - FINNHUB_API_KEY

    volumes:
      - /home/psychopathy/alfred-js/balances.db:/app/balances.db

# 2. ADD THIS SECTION AT THE BOTTOM
networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: "1400"
