services:
  discord-bot:
    build: .
    container_name: alfred_js_bot
    restart: always
    
    # This ONE line loads DISCORD_TOKEN, CLIENT_ID, FINNHUB_API_KEY, 
    # and anything else inside that file.
    env_file:
      - /home/psychopathy/alfred-js/.env

    volumes:
      # Use absolute path to keep your user balances safe
      - /home/psychopathy/alfred-js/balances.db:/app/balances.db
