services:
  discord-bot:
    build: .
    container_name: alfred_js_bot
    restart: always
    working_dir: /app  # <--- Ensures the bot looks in /app for the .env file

    volumes:
      - /home/psychopathy/alfred-js/.env:/app/.env
      - /home/psychopathy/alfred-js/balances.db:/app/balances.db
